.footer-container {
	background-color: var(--primary-background-2);
	height: 60px;
	margin-top: 2.5rem;
}

.footer-content {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.contact-links {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.contact-links svg {
	color: var(--primary-text);
	font-size: 2rem;
}

.contact-links svg:hover {
	opacity: 0.8;
	scale: 0.95;
	transition: all 0.2s ease;
}
/* 
.contact-links a {
	color: var(--primary-text);
	border: 1px solid var(--primary-text);
	padding: 0.3rem 0.8rem;
	border-radius: 8px;
	font-size: 1rem;
} */

.contact-links p {
	color: var(--primary-text);
	font-size: 1rem;
}

/*
.contact-links a:hover {
	background-color: var(--primary-text);
	color: var(--primary-background);
	transition: all 0.2s ease;
}
*/
.footer-cc p {
	color: var(--primary-text);
	font-size: 1rem;
}

@media only screen and (max-width: 768px) {
	.footer-container {
		height: 120px;
	}

	.footer-content {
		flex-direction: column-reverse;
		justify-content: center;
		text-align: center;
	}
	.contact-links {
		margin-bottom: 1.5rem;
	}
}
