.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	height: 125vh;
	margin-top: -25vh;
}

.text {
	display: flex;
	flex-direction: column;
	padding-right: 1rem;
	gap: 1.25rem;
	max-width: 820px;
}

.text a:hover {
	text-decoration: underline;
}

.image {
	width: 300px;
	height: 300px;
}

.image img {
	width: 100%;
	min-width: 300px;
	border-radius: 50%;
	object-fit: cover;
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: -20vh;
	margin-bottom: 20vh;
}

.button-container button {
	background: transparent;
	border: 2px solid var(--primary-text);
	border-radius: 50%;
	padding: 0.5rem;
	transition: background 0.2s;
}

.button-container button svg {
	width: 2rem;
	height: 2rem;
	color: var(--primary-text);
	transition: color 0.2s;
}

.button-container button:hover {
	background: var(--primary-text);
	cursor: pointer;
}

.button-container button:hover svg {
	color: var(--primary-text-reversed);
}

@media only screen and (max-width: 1024px) {
	.text {
		max-width: 420px;
	}

	.image {
		width: 250px;
		height: 250px;
	}

	.image img {
		min-width: 250px;
		height: 250px;
	}
}

@media only screen and (max-width: 768px) {
	.text {
		max-width: 300px;
	}
}

@media only screen and (max-width: 600px) {
	.container {
		flex-direction: column;
		gap: 2rem;
		max-height: 90vh;
		margin-top: 0.5rem;
	}

	.text {
		max-width: 100%;
		text-align: left;
	}

	.text p {
		font-size: 1.1rem;
		line-height: 1.35;
	}

	.text a {
		font-size: 1.1rem;
	}

	.button-container {
		display: none;
	}
}

@media only screen and (max-width: 512px) {
	.container {
		padding: 0 2rem;
		gap: 1rem;
	}

	.image {
		width: 200px;
		height: 200px;
	}

	.image img {
		min-width: 200px;
		height: 200px;
	}
}
