.wrapper {
	margin: 0 auto;
	max-width: 900px;
	margin-bottom: 2rem;
}

.project-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.wrapper h2 {
	margin: 2rem 0;
	text-align: center;
}

.image-container {
	height: 460px;
	margin: 12px 0;
}

.image-container img {
	max-width: 100%;
	border: 2px solid var(--primary-text);
	border-radius: 16px;
	height: 100%;
	object-fit: contain;
}

.links {
	display: flex;
	gap: 1rem;
}

.links a:hover {
	text-decoration: underline;
}

.description {
	margin: 1rem 0;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
