.project-card {
	width: 100%;
	height: 100%;
}

.line {
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 20px;
	background-color: var(--primary-text);
	margin-top: 2rem;
}

.project-card:hover {
	scale: 1.01;
	transition: all 0.1s ease-in;
	cursor: pointer;
}

.project-card img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 8px;
}

.content {
	display: flex;
	flex-direction: column;
	background-color: var(--primary-bg);
	height: 100%;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem 0;
	flex-grow: 1;
}

.stack {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	color: var(--primary-text);
	font-family: "Roboto", sans-serif;
}

.stack-item {
	border: 1px solid var(--primary-text);
	padding: 0.25rem 0.5rem;
	border-radius: 8px;
}

@media screen and (max-width: 1000px) {
	.project-card img {
		height: 240px;
	}

	.text {
		padding: 1.5rem 0;
	}

	.text h3 {
		font-size: 1.5rem;
		padding-bottom: 0.5rem;
	}

	.text p {
		font-size: 1.15rem;
	}
}

@media screen and (max-width: 856px) {
	.project-card img {
		height: 400px;
	}
}

@media screen and (max-width: 720px) {
	.project-card img {
		height: 320px;
	}
}

@media screen and (max-width: 576px) {
	.project-card img {
		height: fit-content;
		object-fit: contain;
	}

	.text h3 {
		font-size: 1.25rem;
	}

	.text p {
		font-size: 1rem;
	}
}
