.wrapper {
	margin: 0 auto;
	max-width: 900px;
	margin-bottom: 2rem;
}

.project-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.project-container h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.image-container {
	height: 300px;
	margin: 12px 0;
}

.image-container img {
	max-width: 100%;
	border: 2px solid var(--primary-text);
	border-radius: 16px;
	height: 100%;
	object-fit: cover;
}
