.experience-container {
	max-width: 1200px;
	margin: 8.5rem auto 2rem auto;
	padding: 0 20px;
}

.experience-container h2 {
	margin-bottom: 1rem;
}

.experiences {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.job-title {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid var(--primary-text);
}

.job-date {
	display: flex;
	justify-content: space-between;
}

.job-title h3 {
	font-size: 2rem;
}

.job-description {
	max-width: 1000px;
}

.job-description p {
	margin-top: 1rem;
	font-size: 1.1rem;
	font-weight: 400px;
}

@media only screen and (max-width: 856px) {
	.experience-container {
		margin: 3rem auto 2.5rem auto;
		padding-top: 2.5rem;
	}
}

@media only screen and (max-width: 512px) {
	.experience-container {
		padding-top: 40px;
	}

	.job-date {
		padding-top: 0.5rem;
		flex-direction: column;
	}
}
