.projects-page {
	max-width: 1200px;
	margin: 8.5rem auto 4rem auto;
	padding: 0 20px;
}

.projects-page h2 {
	margin-bottom: 2rem;
}

.projects {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 3.5rem;
	align-items: stretch;
}

.project-item {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

@media screen and (max-width: 856px) {
	.projects-page {
		padding: 2.5rem;
		margin: 4.5rem auto 2.5rem auto;
	}

	.projects {
		grid-template-columns: 1fr;
	}
}
