:root {
	--primary-text: #131313;
	--primary-text-reversed: #dadada;
	--primary-background: #dadada;
}

.dark-mode {
	--primary-text: #dadada;
	--primary-text-reversed: #131313;
	--primary-background: #131313;
}

.slick-slider {
	overflow: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: var(--primary-background);
}

h1 {
	font-family: "Noto Sans", sans-serif;
	font-size: 3rem;
	color: var(--primary-text);
}

h2 {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 2.5rem;
	color: var(--primary-text);
}

h3 {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 2rem;
	color: var(--primary-text);
}

p {
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
	color: var(--primary-text);
}

a {
	font-family: "Roboto", sans-serif;
	font-size: 1.15rem;
	font-weight: 400;
	text-decoration: none;
	color: var(--primary-text);
}
