:root {
	--primary-text: #131313;
	--primary-text-reversed: #dadada;
	--primary-background: #dadada;
	--primary-background-2: #b8b8b8;
}

.dark-mode {
	--primary-text: #dadada;
	--primary-text-reversed: #131313;
	--primary-background: #131313;
	--primary-background-2: #272727;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: var(--primary-background);
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

h1 {
	font-family: "Noto Sans", sans-serif;
	font-size: 3.5rem;
	color: var(--primary-text);
}

h2 {
	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	font-size: 3rem;
	color: var(--primary-text);
}

h3 {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 2rem;
	color: var(--primary-text);
}

h4 {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	color: var(--primary-text);
}

h5 {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 1.05rem;
	color: var(--primary-text);
}

p {
	font-family: "Roboto", sans-serif;
	font-size: 1.35rem;
	font-weight: 300;
	color: var(--primary-text);
}

a {
	font-family: "Roboto", sans-serif;
	font-size: 1.35rem;
	font-weight: 400;
	text-decoration: none;
	color: var(--primary-text);
}

ul {
	list-style: disc;
	margin-left: 2rem;
	margin-top: 1.5rem;
}

li {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: var(--primary-text);
	padding-bottom: 0.55rem;
	line-height: 1.5;
}
